PORT=5000
MONGO_URI=mongodb://Dineth:Dineth@2002@ac-ctupkom-shard-00-00.nymjce2.mongodb.net:27017,ac-ctupkom-shard-00-01.nymjce2.mongodb.net:27017,ac-ctupkom-shard-00-02.nymjce2.mongodb.net:27017/?ssl=true&replicaSet=atlas-vfuc5w-shard-0&authSource=admin&appName=Safetour
JWT_SECRET=replace-with-a-secure-secret
JWT_REFRESH_SECRET=replace-with-a-different-secure-refresh-secret
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"your-project-id"}
MAPTILER_KEY=DFzAeauQ4cZaAedxFJuc
